<table>
  <tr>
    <th>ND#</th>
    <th>Sprite</th>
    <th>Name</th>
    <th colspan="2">Type</th>
    <th>Height</th>
    <th>Weight</th>
  </tr>
  <tr *ngFor="let pokemon of pokemonList">
    <td>{{ pokemon.dexNumber | number: '3.0' }}</td>
    <td>
      <img
        src="http://www.pokestadium.com/assets/img/sprites/misc/icons/{{
          pokemon.name | lowercase
        }}.png"
        alt="{{ pokemon.name }} sprite"
      />
    </td>
    <td>{{ pokemon.name }}</td>
    <ng-container
      *ngIf="pokemon.type.length == 2; then duelType; else singleType"
    ></ng-container>
    <ng-template #duelType>
      <td>{{ pokemon.type[0] }}</td>
      <td>{{ pokemon.type[1] }}</td>
    </ng-template>
    <ng-template #singleType>
      <td colspan="2">{{ pokemon.type[0] }}</td>
    </ng-template>
    <td>{{ pokemon.height }}</td>
    <td>{{ pokemon.weight }}</td>
  </tr>
</table>
